# Ignore specific Python scripts and directories
securebootconf/logmon_securebootconf.py
logmon1.py
case1.py

# Ignore all files in 'data' and 'hobby' directories
data/
hobby/

# Ignore compiled Python files and pytest cache in 'examples' directory
examples/__pycache__/
examples/.pytest_cache/

# Ignore specific files in 'logmon' directory
logmon/


# Ignore all contents in 'jira-tasks' directory
jira-tasks/
ruby_examples/
mac_local
venv
keep-done
keep-done/findings.md
jmeter.log
jmeter_fluentd.txt
donotpush